.User {
    flex: 1;
    background-color: #f3f6f5;
    .user-header {
        width: 100%;
        height: 2.63rem;
        background-image: url('https://familyweb.oss-cn-shanghai.aliyuncs.com/dbb/user/header.png');
        background-repeat: no-repeat;
        background-size: cover;
        .img {
            width: 3.25rem;
        }
    }
    .navs {
        margin: 0 0.2rem;
        height: 1rem;
        box-sizing: border-box;
        background-color: white;
        border-bottom-left-radius: 0.05rem;
        border-bottom-right-radius: 0.05rem;
        .icon {
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 0.2rem;
        }
        .title {
            margin-top: 0.6rem;
            color: #171717;
            
        }
    }
}
