.Home-C-Title {
    padding: 0 0.2rem;
    .title {
        font-size: 0.18rem;
        color: #171717;
    }
    .right {
        .more {
            margin-right: 0.05rem;
            font-size: 0.12rem;
            color: #cacccb;
            font-weight: bold;
        }
    }
}
